/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case 4 Assignment

   Millenium Computers Forms Style Sheet
   Author: Wesley Simpson
   Date:   9/9/2020

   Filename: mc_forms.css

*/

/* Lable Styles */

label#select {
   display: block;
   float: left;
   clear: left;
   margin: 5px;
   width: 80px;
}

label#radio {
   display: block;
   float: left;
   clear: left;
   margin: 5px;
   width: 80px;
}

label#text {
   display: block;
   float: left;
   clear: left;
   margin: 5px;
   width: 120px;
}

/* Fieldset Styles */

fieldset {
   background-color: rgb(175, 174, 214);
}

fieldset#radio {
   display: block;
   float: left;
   margin: 5px;
   width: 100px;
}

fieldset#text {
   display: block;
   float: left;
   clear: both;
   margin: 5px;
   width: 500px;
}

/* Input, Select, and Textarea Styles */

input#warrentyCB {
   display: block;
   float: right;
   clear: both;
}

input, select {
   display: block;
   float: left;
   clear: left;
   margin: 5px 0px;
   width: 200px;
}

textarea {
   display: block;
   float: left;
   margin: 5px 0px;
   width: 200px;
   height: 100px;
}

input[type='submit'], input[type='reset'], input[type='button'] {
   background-color: rgb(175, 174, 214);
   color: rgb(250, 246, 170);
   border-radius: 20px;
   float: left;
   clear: both;
   display: block;
   width: auto;
   font-size: 1.1em;
}

/* Validation Styles */

input:focus, select:focus, textarea:focus {
   background-color: rgb(222, 222, 245);
}

input#fnBox:focus:valid, input#pBox:focus:valid, 
input#lnBox:focus:valid, input#addBox:focus:valid,
input#cBox:focus:valid, input#sBox:focus:valid, input#zBox:focus:valid {
   background: rgb(220, 255, 220) url(mc_go.png) right/contain no-repeat;
}

input#fnBox:focus:invalid, input#pBox:focus:invalid, 
input#lnBox:focus:invalid, input#addBox:focus:invalid,
input#cBox:focus:invalid, input#sBox:focus:invalid, input#zBox:focus:invalid {
   background: rgb(255, 230, 230) url(mc_stop.png) right/contain no-repeat;
}