@charset "utf-8";

/* Paragraph Styles */

p {
  margin: 2%;
}

/* Section Styles */

section#list1 {
    display: block;
    float: left;
    margin: 2% 18%;
  }
  section#list2 {
    display: block;
    float: left;
    margin: 2% 0%;
  }

  /* Table Styles */

div#table table {
    display: block;
    margin: 5% 26%;
    clear: both;
    background: rgba(180, 180, 180, 0.3);
    border: 6px outset rgb(93, 99, 119);
    border-collapse: collapse;
    width: 48.5%;
    font-size: 0.8em;
  }
  
  table th, table td {
    border: 1px solid rgb(182, 189, 212)
  }
  