@charset "utf-8";

/* Images Styles */

img {
    display: block;
    float: left;
    margin: 38px 30px;
    width: 130px;
  }
  
/* Text Styles */

p#intro {
    display: block;
    float: left;
    margin-top: 5%;
    width: 50%;
}

article#home {
    display: block;
    float: left;
    margin-top: 5%;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  
    -moz-column-gap: 150px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
  
    -moz-column-rule: 1px solid rgb(93, 99, 119);
    -webkit-column-rule: 1px solid rgb(93, 99, 119);
    column-rule: 1px solid rgb(93, 99, 119);
  }

/* Video Styles */

video {
    display: block;
    float: right;
    width: 175px;
}