@charset "utf-8";

/* Section Styles */

section#case4 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-size: 0.9em;
  }

  section {
    display: block;
    float: left;
    margin: 5%;
  }