@charset "utf-8";


/* Basic styles */

article, table, footer, 
header, nav, section { 
   display: block;
}

article, body, footer, 
h1, h2, header, html, img, 
li, nav, nav a, p, section, ul,
table, tr, td, th {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}