@charset "utf-8";

/* Import Styles Used On All Screens */

@import url("styles.css");

/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
	
@media only screen and (max-width: 480px) {

/* All Styles */

header {
    font-size: 0.65em;
}

nav#horlist {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
}

body {
    background: 100%;
    font-size: 1.1em;
}

footer {
    -webkit-order: 100;
    order: 100;
 }

/* Home Styles */

article {
    -webkit-order: 96;
    order: 96;
}

/* About Me Styles */

section#list1, section#list2 {
    padding: 0% 30%;
}

section#list1 {
    -webkit-order: 97;
    order: 97;
}

section#list2 {
    -webkit-order: 98;
    order: 98;
}

div#table > table {
   -webkit-order: 99;
   order: 99;
}   

}

/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

@media only screen and (min-width: 481px) {

    section#list1, section#list2 {
        margin: 5% 2%;
    }
    
}

@media only screen and (min-width: 769px) {
    section#list1, section#list2 {
        margin: 5%;
    }
}