@charset "utf-8";



/* Main Styles */

html {
  background-image: url(Background.png);
  height: 100%;
}

body {
  background: rgba(180, 180, 180, 0.3);
  box-shadow: hsl(0, 0%, 55%) 5px 0px 15px,  hsl(0, 0%, 55%) -5px 0px 15px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  height: 100%;   
  margin: 0px auto;
  min-width: 320px;
  max-width: 1200px;   
  width: 100%;
  font-size: 1.2em;
}

/* Header Styles */

header h1 {
  background: linear-gradient(to left bottom, rgb(211, 74, 11), rgb(211, 121, 47), rgb(240, 182, 57));
  font-size: 2.5em;
  padding: 10px;
  text-align: center;
  height: 60px;
}

header > h1 {
  padding-top: 16px;
}

/* Navigation Styles */

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(93, 99, 119);
}

nav li {
  float: left;
  width: 33.33%;
}

nav li a {
  display: block;
  color: rgb(211, 121, 47);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:visited {
	color: rgb(211, 121, 47);
}

nav ul li a:hover {
	background-color: rgb(211, 121, 47);
	color: lightgray;
}

/* Images Styles */

img {
  display: block;
  float: left;
  margin: 15px 25px;
  width: 130px;
}

/* Footer Styles */