@charset "utf-8";



/* Main Styles */

html {
  background-image: url(Background.png);
  height: 100%;
}

body {
  background: rgba(180, 180, 180, 0.3);
  box-shadow: hsl(0, 0%, 55%) 5px 0px 15px,  hsl(0, 0%, 55%) -5px 0px 15px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);  
  margin: 0px auto;
  min-width: 320px;
  max-width: 960px;   
  width: 100%;
  font-size: 1.2em;
}

/* Header Styles */

header h1 {
  background: linear-gradient(to left bottom, rgb(211, 74, 11), rgb(211, 121, 47), rgb(240, 182, 57));
  font-size: 2.5em;
  padding: 15px;
  text-align: center;
  height: 80px;
}

header > h1 {
  padding-top: 16px;
}

header, footer {
  width: 100%;
}

/* Navigation Styles */

nav {
  font-size: 1.2em;
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(93, 99, 119);
}

nav li {
  float: left;
  width: 33.33%;
}

nav li a {
  display: block;
  color: rgb(211, 121, 47);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:visited {
	color: rgb(211, 121, 47);
}

nav ul li a:hover {
	background-color: rgb(211, 121, 47);
	color: lightgray;
}

/* Images Styles */

img {
  display: block;
  float: left;
  margin: 15px 25px;
  width: 130px;
  transform: translate(20px, 20px);
}

/* Body Styles */

article {
  display: block;
  float: right;
  margin-top: 32px;
  width: 50%;
  margin-right: 23%;
  border: 1px solid black;
  border-radius: 20px;
  
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;

  -moz-column-gap: 150px;
  -webkit-column-gap: 15px;
  column-gap: 15px;

  -moz-column-rule: 1px solid rgb(93, 99, 119);
  -webkit-column-rule: 1px solid rgb(93, 99, 119);
  column-rule: 1px solid rgb(93, 99, 119);
}

section {
  display: block;
  float: left;
  margin: 5%;
}

section#case4 nav#case4 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size: 1em;
}

nav#case4 li a {
  border: 1px solid rgb(182, 189, 212);
}

div#table table {
  display: block;
  margin: 10% 28%;
  clear: both;
  background: rgba(180, 180, 180, 0.3);
  border: 6px outset rgb(93, 99, 119);
  border-collapse: collapse;
  width: 48.5%;
  font-size: 0.8em;
}

table th, table td {
  border: 1px solid rgb(182, 189, 212)
}

/* Footer Styles */

footer {
  clear: both;
  font-style: normal;
  font-size: 1em;
  color: black;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(240, 145, 57);
}