@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author:   Wesley Simpson
   Date:       9/2/2020
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Base HTML and Body Styles */

html {
   background: url(jb_back1.png) center center / cover no-repeat fixed;
   height: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14px;
}

body {
   background-color: rgba(209, 223, 231, 0.6);
   box-shadow: rgb(175, 175, 175) 5px 0px 10px, rgb(175, 175, 175) -5px 0px 10px;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1024px;
   width: 100%;
}

p {
   line-height: 1.4em;
   margin: 10px;
}

/* Header and Header Navigation Styles*/

img {
   float: left;
}

nav.hor {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: 1 1 120px;
   flex-flow: 1 1 120px;
}

/* Main Body Styles */

div.mainDiv {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   clear: both;
}

section#main {
   flex: 1 1 500px;
}

section#slang {
   flex: 1 1 200px;
   justify-content: flex-end;
}

section#slang h1 {
   font-size: 16pt;
}

/* Bottom Section Styles */

section#links h1 {
   position: relative;
}

section#links {
   background-color: rgba(209, 223, 231, 0.55);
   display: -webkit-flex;
   display: flex;
   justify-content: space-between;
}

nav.link1 {
   display: -webkit-flex;
   display:flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
}

nav.link2 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
}

nav.link3 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap; 
}

div.links {
   -webkit-flex: 1 1 200px;
   flex: 1 1 200px;
}

footer {
   clear: both;
   background-color: rgba(209, 223, 231, 0.85);
}

footer::after {
   clear: both;
   content: "";
   display: table;

}

div.footercolumn {
   width: 50%;
   float: left;
}

a#navicon {
   display: none;
}

/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/

@media only screen and (max-width: 480px) {

   

   img.logo {
      width: 50%;
   }

   a#navicon {
      display: block;
      color: black;
   }

   nav.hor ul {
      display: none;
   }

   a#navicon:hover+ul, nav.hor ul:hover {
      display:block;
   }

   section#slang {
      display: none;
   }

   nav.link1 { 
      -webkit-order: 99;
      order:99;
   }

   nav.link2 { 
      -webkit-order: 98;
      order: 98;
   }

   nav.link3 { 
      -webkit-order: 97;
      order:97;
   }

   body > footer {
      -webkit-order: 100;
      order:100
   }

}